html{
    max-width: 100%;
}
body{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      
    user-select: none;  
    cursor: default;
    font-family: Arial, Verdana, sans-serif;
    font-synthesis: none;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NanoXAppColor{
    color: var(--NanoX-appcolor)
}

.NanoXFlexColCenter{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:center; 
    align-items: center;
}

.NanoxTitre{
    font-size: 4rem;
    text-align: center;
}

.NanoxBoxShadow{
    background-color: white; 
    width:30rem; 
    max-width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2); 
    box-sizing: border-box;
}

.NanoxLoginInput {
    width: 80%;
    padding: 1rem;
    border: solid 1px #dcdcdc;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.NanoxLoginInput:focus,
.NanoxLoginInput.focus {
    outline: none;
    border-color: var(--NanoX-appcolor);
}
@media (hover: hover) {
    .NanoxLoginInput:hover{
        border-color: var(--NanoX-appcolor);
    }
}

.NanoxErrorText{
    color: red;
    min-height: 1rem;
}

.NanoxText{
    font-size:1rem;
}

.NanoxButton{
    margin: 0.5rem 0% 0.5rem 0%;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--NanoX-appcolor);
    border-radius: 2rem;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    background: white;
    outline: none;
}
.NanoxButton:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.NanoxProgressBar{
    width: 90%;
    margin-top:1rem;
    margin-bottom:1rem;
    height: 2rem;
}