.NanoXMenuBarTranslucideLeft{
    position: fixed;
    top: env(safe-area-inset-top, 0px);
    left:0px;
    z-index: 998;
    background-color: transparent;
}
.NanoXMenuBarTranslucideRight{
    position: fixed;
    top: env(safe-area-inset-top, 0px);
    right:0px;
    z-index: 998;
    background-color: transparent;
}
.NanoXHeightSafeTop{
    height: env(safe-area-inset-top, 0px);
}
.NanoXMenuBar{
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    width: 100%;
}
.NanoXMenuBarOnTop{
    position: fixed;
    top:0px;
    z-index: 998;
}
.NanoXActionButton{
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.2rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    background-color: transparent;
}
.NanoXActionBarTitre{
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    margin-right: 1rem;
    -webkit-text-stroke: 0.5px black;
}
.NanoXActionBarFlexStart{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-content:center;
    align-items: center;
}
.NanoXActionBarFlexEnd{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-content:center;
    align-items: center;
}
#Nxhamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#Nxhamburger-icon div {
    width: 25px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}
.Nxopen .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.Nxopen .bar2 {
    opacity: 0;
}
.Nxopen .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.NanoXUserMenu{
    position: fixed;
    right: 0;
    width: 10rem;
    background-color: white;
    border: 1px solid #dfdfe8;
    z-index: 999;
}
.NanoXUserMenuBackground{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
}
.NanoXMobileMenu{
    position: fixed;
    right: 0;
    top: 0;
    max-height: 50vh;
    width: 10rem;
    background-color: transparent;
    z-index: 999;
}
.NanoXMobileMenuButton{
    width: 100%;
    text-align: left;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
    font-size: 1rem;
}
.NanoXInputBox{
    width: 90%;
}
.NanoXInputLabelText{
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    box-sizing: border-box;
}
.NanoXInput {
    border: solid 1px #dcdcdc;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
}

.NanoXModuleImageConteneur{
    border: 1px solid black;
    border-radius: 5px;
    width: 9rem;
    height: 16rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2); 
}

@media only screen and (max-width: 600px) {
    #NanoXUserButton{
        display: none;
    }
    #IdBarActionButtonLeft{
        display: none;
    }
    #IdBarActionButtonRight{
        display: none;
    }
    #Nxhamburger-icon {
        display: block;
    }
}